
ul {
  display: grid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-bor);
}

li a{
  display: inline-block;
  color: rgb(255, 250, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  color: rgb(0, 0, 0);
}

li.dropdown {
  display: inline-block;
}

.terserah {
  display: inline-block;
  padding: 0 6rem;
}
.terserah:hover {
  background-color: var(--color-blk);
  padding: 5 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555353;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(59, 59, 59, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #000000;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES)============== */
@media screen and (max-width: 1024px) {
   li a {
    font-size: 1rem;
    padding: 30px 44.2px;
    gap: 1rem;
   }
}

/* =============== MEDIA QUERIES (SMALL DEVICES)============== */
@media screen and (max-width: 600px) {
    li a {
        font-size: 0.7rem;
        padding: 10px 13.5px;
        gap: 0.5rem;
    }
}