ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-bor);
    width: 100%;
  }
  
  li {
    float: left;
    display: block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 99.7px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(48, 47, 47);
  }

nav a:hover {
    background: rgba(0, 0, 0, 0, 0.3);
}

nav .active {
    background: var(--color-blk);
    color: var(--color-white);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES)============== */
@media screen and (max-width: 1024px) {
   li a {
    font-size: 1rem;
    padding: 30px 44.2px;
    gap: 1rem;
   }
}

/* =============== MEDIA QUERIES (SMALL DEVICES)============== */
@media screen and (max-width: 600px) {
    li a {
        font-size: 0.7rem;
        padding: 10px 13.5px;
        gap: 0.5rem;
    }
}